<!-- templates/announcement/index.html.twig -->

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Annonces</h1>

    {% for announcement in announcements %}
        <div class="card">
            <img src="{{ asset(announcement.imageFilename) }}" alt="{{ announcement.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ announcement.title }}</h5>
                <p class="card-text">{{ announcement.description }}</p>
                <p class="card-text">{{ announcement.price }} €</p>
                <a href="{{ path('announcement_show', {'id': announcement.id}) }}" class="btn btn-primary">Voir l'annonce</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}